<!DOCTYPE html>
<!--
	Noah Palmer, Jeanie Chen
	Admin.html
	||WEBSITE LOCATION||


-->
<html>
	<head>
		<title>Admin</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='admin_login.css') }}">
		<meta charset="UTF-8">
		<script src="../library/jquery.js"></script>
	</head>
	<body>
		<div><h1>Log in to Mural Wayfinder</h1></div>
		<form method="POST" action="/admin_login" id="admin_form" name='placeholder'>
			<input type="text" placeholder="User Name" name="username"><br>
			<input type="password" placeholder="Password" name="password"><br>
			<input type="submit" value="Submit">
		</form>

		{% if session["admin_status"] == true %}
			<p>SUCCESS</p>
		{% endif %}

	</body>
</html>