<!DOCTYPE html>
<!--
	Noah Palmer, Jeanie Chen
	Admin.html
	||WEBSITE LOCATION||


-->
<html>
	<head>
		<title>Admin</title>
		<link rel="stylesheet" type="text/css" href="../css/admin_login.css">
		<meta charset="UTF-8">
		<script src="../library/jquery.js"></script>
	</head>
	<body>
		<div><h1>Log in to Mural Wayfinder</h1></div>
		<form method="POST" action="/admin_login" id="admin_form">
			<input type="text" placeholder="User Name" id="username"><br>
			<input type="password" placeholder="Password" id="password">
		</form>
		<button id="login">Log In</button>

		<script>
			$("#login").click(function(){
				var username = document.getElementById("username").value;
				var password = document.getElementById("password").value;

				console.log("User Name: " + username + " | " + "Password: " + password);
			});
		</script>
	</body>
</html>