<!DOCTYPE html>
<html>
	<!--
		Noah Palmer, Jeanie Chen
		||WEBSITE LOCATION||

	-->
	<head>
		<title>Mural Wayfinder</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	</head>
	<body>
	    <p id="top"></p>
	    <div class="topnav" id="myTopnav">
	      <a href="#home" class="active" onclick="goHome()">Mural Wayfinder (Beta)</a>
      <a href="#submit" class="active" onclick="submit()">Submit Mural</a>
      <a href="#admin" class="active" onclick="admin()">Admin Login</a>
	      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	    </div>
	    <h1 style="text-align: center; font-size: 500%; padding-bottom: 50px; "><u>Eugene Murals</u></h1>
		{% if session["manage"] == true %}
			<form method=POST action="{{ url_for('delete') }}">
				<input type ="submit" value="delete selected" style="float:right;margin-right:5%; padding-bottom: 50px;">
				<hr>
				{% for mural in mural_data %}
				<div class="mural">
					<div id="mural_header">
						<label><input type="checkbox" name="check{{loop.index}}" value="{{mural.img_id}}">Delete Me</label>
					</div>
					<img src={{mural.img_id}} alt="User Image" id="{{mural.img_id}}"  onClick="ja_rule(this.id)" style="border: none; width: 100%;">
					<br>
				</div>
				{% endfor %}
			</form>
		{% else %}
			{% for mural in mural_data %}
				<div class="mural">
					<img src={{mural.img_id}} alt="User Image" id="{{mural.img_id}}"  onClick="ja_rule(this.id)" style="border: none; width: 100%;">
					<br>
				</div>
			{% endfor %}
		{% endif %}


		<script type="text/javascript">
		var image_id = ""

		function ja_rule(image_id){
			so_great(image_id)
		}
		function so_great(image_id) {
                $.getJSON('/_ja', { image_id: image_id },function(data) {
                console.log("data: " + data)
                function_string = data.result.function;
                for(var i=0; i<1000; i++){

                }
                loadPage("/mural")
                });
             }

             function loadPage(txt) {
                location.href = txt;
                }
			SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

			function submit(){

				window.location.replace(SCRIPT_ROOT + "/submit_mural");
				console.log("HELLO");	
			}
			             function submit(){
              location.href = "/submit_mural";
             }
             function admin(){
              location.href = "/admin";
             }

			// $("#submit").click(function(){
			// 	window.location.replace(SCRIPT_ROOT + "/submit_mural");
			// })
		</script>
	</body>
</html>