<!DOCTYPE html>
<html>
	<!--
		Noah Palmer, Jeanie Chen
		||WEBSITE LOCATION||

	-->
	<head>
		<title>Mural Wayfinder</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	</head>
	<body>
    <p id="top"></p>
        <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Mural Wayfinder</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
		<a href="submit_mural"><button id="submit" src="/submit_mural">Submit Mural</button></a>

		{% for mural in mural_data %}
		<img src=mural.source alt="User Image">
		{% endfor %}
		<a href="admin"><button id="submit" src="/admin">Admin Login</button></a>


		<script type="text/javascript">
			SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

			function submit(){

				window.location.replace(SCRIPT_ROOT + "/submit_mural");
				console.log("HELLO");	
			}

			// $("#submit").click(function(){
			// 	window.location.replace(SCRIPT_ROOT + "/submit_mural");
			// })
		</script>
	</body>
</html>