<!DOCTYPE html>
<html>
	<!--
		Noah Palmer, Jeanie Chen
		||WEBSITE LOCATION||

	-->
	<head>
		<title>Mural Wayfinder</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	</head>
	<body>
	    <p id="top"></p>
	    <div class="topnav" id="myTopnav">
	      <a href="#home" class="active">Mural Wayfinder</a>
	      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	    </div>
	    <div class="buttonbar" align="center">
			<a href="submit_mural"><button id="submit" src="/submit_mural">Submit Mural</button></a>
			<a href="admin"><button id="submit" src="/admin">Admin Login</button></a><br>
		</div>

		{% for mural in mural_data %}
		
		<img src={{mural.img_id}} alt="User Image" id="{{mural.img_id}}"  onClick="ja_rule(this.id)" style="border: none; width: 100%;">
		<br>
		{% endfor %}
		


		<script type="text/javascript">
		var image_id = ""

		function ja_rule(image_id){
			so_great(image_id)
		}
		function so_great(image_id) {
                $.getJSON('/_ja', { image_id: image_id },function(data) {
                console.log("data: " + data)
                function_string = data.result.function;
                for(var i=0; i<1000; i++){

                }
                loadPage("/mural")
                });
             }

             function loadPage(txt) {
                location.href = txt;
                }
			SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

			function submit(){

				window.location.replace(SCRIPT_ROOT + "/submit_mural");
				console.log("HELLO");	
			}

			// $("#submit").click(function(){
			// 	window.location.replace(SCRIPT_ROOT + "/submit_mural");
			// })
		</script>
	</body>
</html>