<!DOCTYPE html>
<html>
	<head>
		<title>Mural</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mural.css') }}">
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<body>
		<p id="top"></p>
        <div class="topnav" id="myTopnav">
      <a href="#home" class="active" onclick="goHome()">Mural Wayfinder (Beta)</a>
      <a href="#submit" class="active" onclick="submit()">Submit Mural</a>
      <a href="#admin" class="active" onclick="admin()">Admin Login</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
		<div><h1 style="text-align: center;">"{{ mural_instance.name }}"</h1></div><br>
		<h2 style="text-align: center;" ><a  href="https://www.google.com/maps/dir/?api=1&destination={{ mural_instance.lat }},{{ mural_instance.lon }}">Get Directions</a></h2>
		<div class="w3-content w3-display-container">
  <img style="border:none; width:100%;" class="mySlides" src="{{mural_instance.img_id}}" style="width:100%">

  {% for selfie in mural_instance.selfies %}

  <img style="border:none; width:100%;" class="mySlides" src="{{ selfie }}"/>

  {% endfor %}

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
<br>
<br>

		<img>
		<p style="text-align: center;">{{ mural_instance.description }}</p>

		<form style="text-align: center;" action="_upload_selfie" method="POST" enctype = "multipart/form-data">
			<input  type="file" accept="image/*" name="file"/><br>
            <input type="submit" id="submit" value="Submit Selfie"/>
		</form>

		<script>
			var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
			 function goHome(){
              location.href = "/";
             }
                          function submit(){
              location.href = "/submit_mural";
             }
             function admin(){
              location.href = "/admin";
             }
		</script>

	</body>
</html>