<!DOCTYPE html>
<html>
	<!--
		Noah Palmer, Jeanie Chen
		||WEBSITE LOCATION||

		

	-->
	<head>
		<title>Submit Mural</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<meta charset="UTF-8">
		<script src="../library/jquery.js"></script>

	</head>

	<body>
		<div><h1>Submit a Mural</h1></div>
		<!--
		<form action = "_submit_photo" method = "POST" 
			enctype = "multipart/form-data">
			<input type = "file" name = "file" />
			<input type = "submit"/>
		</form>
		
		<img src="{{bucketsrc}}" class="img-responsive"/>
		-->

		<form method="POST" action="/_submit_photo" id="submit_photo">
			<input type="text" placeholder="Mural Title" id="mural_title" class="requiredInput"><br>
			<input type="text" placeholder="Description" id="description" class="requiredInput"><br>
			<input type="text" placeholder="Address Location" id="location" class="requiredInput"><br>
			<input type="file" accept="image/*" id="file-input">	
		</form>	
		<button id="submit">Submit</button>

		<script>
			$("#submit").click(function(){
				var rEle = document.getElementsByClassName('requiredInput');
				var valid = true;
				for(var i in rEle){
					if(rEle[i].value.trim() == ""){
						valid = false;
					}
				}

				if(valid){
					console.log("VALID");
				}else{
					console.log("INVALID");
				}
			});

		navigator.geolocation.getCurrentPosition(successCallback, errorCallback, {maximumAge:600000});
		console.log(localStorage['authorizedGeoLocation'])
		function successCallback(position) {
		  // By using the 'maximumAge' option above, the position
 		  // object is guaranteed to be at most 10 minutes old.
 		  showPosition(position)
		}

		function errorCallback(error) {
		    // Update a div element with error.message.
		    document.getElementById("holder").append('<input visibility="hidden" type="text" placeholder="Address" id="address"><br>')
		}

		function showPosition(position) {
    		console.log("Latitude: " + position.coords.latitude + 
    		"Longitude: " + position.coords.longitude);
		}

		</script>
	</body>
	

</html>
