<!DOCTYPE html>
<html>
	<!--
		Noah Palmer, Jeanie Chen
		||WEBSITE LOCATION||

		

	-->
	<head>
		<title>Submit Mural</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<meta charset="UTF-8">
		<script src="../library/jquery.js"></script>

	</head>

	<body>
		<div><h1>Submit a Mural</h1></div>
		<!--
		<form action = "_submit_photo" method = "POST" 
			enctype = "multipart/form-data">
			<input type = "file" name = "file" />
			<input type = "submit"/>
		</form>
		
		<img src="{{bucketsrc}}" class="img-responsive"/>
		-->

		<form method="POST" action="/_submit_photo" id="submit_photo">
			<input type="text" placeholder="Mural Title" id="mural_title" class="requiredInput"><br>
			<input type="text" placeholder="Description" id="description" class="requiredInput"><br>
			<input type="text" placeholder="Address Location" id="location" class="requiredInput"><br>
			<input type="file" accept="image/*" id="file-input">	
		</form>	
		<button id="submit">Submit</button>

		<script>
			$("#submit").click(function(){
				var rEle = document.getElementsByClassName('requiredInput');
				var valid = true;
				for(var i in rEle){
					if(rEle[i].value.trim() == ""){
						valid = false;
					}
				}

				if(valid){
					console.log("VALID");
				}else{
					console.log("INVALID");
				}
			});
		</script>
	</body>

</html>
