<!DOCTYPE html>
<html>
	<!--
		Noah Palmer, Jeanie Chen
		||WEBSITE LOCATION||

		

	-->
	<head>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<meta charset="UTF-8">
		<title>Mural Wayfinder</title>
		<script src="../library/jquery.js"></script>

	</head>

	<body>
		<div><h1>Welcome to Mural Wayfinder</h1></div>
		<div id="show_image"></div>
		<button id="submit">Submit</button>
		<script>
			$("#submit").click(function(){
				//Grab the Image

				//Set div "show_image" to given image
			});
		</script>
	</body>

</html>